<br/>
<br/>
<form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
    <label for="Email">Email: </label>
    <input formControlName="Email" pInputText type="text" class="p-inputtext-lg" 
     [ngModel]="login.email">
    <br/><br/>
    <label for="Password">Password: </label>
    <input formControlName="password" pInputText type="text" class="p-inputtext-lg"  
    [ngModel]="login.password">
    <br/><br/>
    <button pButton type="submit" label="Submit Form" (onClick)="submitForm($event)"></button>
</form>
